

.footer {
    height: fit-content;
    display: grid;
    grid-template-columns: minmax(150px, 15%) 1fr minmax(100px, 40%);
    padding: 5vh 10vw 5vh 10vw;
    background-color: rgb(255, 255, 255);
    & ul {
        list-style: none;
        padding: 0;
    }
}

#frec {
    max-width: 100%;
    max-height: 20vh;
    padding: 1rem;
}

#srvs-logo {
    max-width: 100%;
    max-height: 15vh;
}

.links {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    & p {
        font-weight: bold;
        font-size: 1.2em;
    }
    & li {
        line-height: 1.8em;
    }
}
.link-col {
    padding-left: 1rem;
    padding-right: 1rem;

}

.sns {
    font-size: 1.2em;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    text-align: end;
    height: 2rem;    
}
.font-s {
    font-size: 0.8em;
}

.f-3 {
    text-align: end;
}

@media(max-width: 800px) {
    .footer, .links {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    #frec {
        max-height: 200px;
        max-width: 200px;
        margin-right: auto;
        margin-left: auto;
    }
    .f-3 {
        text-align: left;
    }
    .sns {
        justify-content: flex-start;
    }
    #srvs-logo {
        max-height: none;
    }
}